@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    box-sizing: border-box;
}


body {
    display : flex;
    overflow : hidden;
    margin : 0;
}

div.rowWrap {
    display : flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

div.attackPokemonSave, div.defensePokemonSave {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;
    min-height: 100vh;
    border: 3px solid black;
}

div.wrapResult {
    display : flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    min-width: 350px;
    min-height: 100vh;
}

.title {
    margin-top : 10%;
    margin-bottom : 10%;
    font-size : 54px;
    font-family: 'Nanum Pen Script', cursive;
}

.main {
    width : 90%;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    width : 100%;
    height : 30%;

}

fieldset.wrapper {
    width : 80%;
    height : 70px;
    border : 3px solid red;
    margin : auto;
    font-family: 'Nanum Gothic', sans-serif;
}

#aaa {
    width : 100%;
    height : 100%;
    border : 0px;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
}

fieldset.result {
    min-height: 200px;
    height: 70%;
    font-family: 'Nanum Gothic', sans-serif;
    border: 3px solid blue;
}
